/* Fonts Start */
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Fonts End*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f8ff;
}

p{
    font-size: 1.375rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}
/*nav bar start*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 150px;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-right: -500px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color:#8987A1 ;
}

nav ul li a:hover{
    font-size: 1.5rem;
    font-weight: 500;
    color:#252432 ;
}

.image-logo{
    width: 8.438rem;
    height: 5.125rem;
}

.icon-cart{
    width:1.5rem ;
    height: 1.5rem;
}
.cart-section{
    display: flex;
    align-items: center;
    gap: 10px;
}
.pnav{
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
    color:#000;
}
/*nav bar end*/
/*responsive - nav bar - start*/
@media screen and (max-width: 576px) {
    nav{
        margin: 14px 16px;
    }
    nav ul{
        display: none;
    }

    .image-logo{
        width: 3.938rem;
        height: 2.375rem;
    }

}
/*responsive - nav bar - end*/
/*banner section -start*/
.banner-section{
    display: flex;
    gap: 110px;
    margin: 90px 150px;
}
.banner-text{
    margin-top: 100px;
}
.banner-title{
    font-size: 4.063rem;
    font-weight: 700;
    color: #000;
}
.banner-title-spa{
    color: #E95A08;
}
.flower{
    font-size: 4.063rem;
    font-weight: 700;
    color: #E95A08;
    margin-bottom: 13px;
}
.banner-image{
    width: 35.625rem ;
    height: 22.188rem;
    margin-top: 106px;
}
/*banner section - end*/
/*responsive-banner section - start*/
@media screen and (max-width: 576px) {

    .banner-section{
        flex-direction: column-reverse;
        gap: 20px;
        margin: 0 auto;
    }
    .banner-text{
        margin: 32px 16px;
        text-align: left;
    }
   
    .banner-title{
        font-size: 1.5rem;
    }
    .flower{
        font-size: 1.5rem;
    }
    p{
        font-size: 0.875rem;
    }
    .banner-image{
          max-width: 100%;
          height: auto;
          display: block;
          margin-top: 27px;
    }
}
/*responsive-banner section - end*/




